<h1>User Detail</h1>
<div>
  <span class="workname">工作名稱</span>
  <span><%= userinfo['workname'] %></span>
</div>
<div>
  <span class="contentname">工作內容</span>
  <span><%= userinfo['contentname'] %></span>
</div>
