<h1>User Update</h1>
<div class="workname">
  <input type="text" id="workname0" name="workname" placeholder="<%= userinfo['workname'] %>" /><br />
</div>
<div class="contentname">
  <input type="text" id="contentname0" name="contentname" placeholder="<%= userinfo['contentname'] %>" /><br />
</div>
<input type="submit" class="btn-update" value="Update"  name=<%= userinfo['_id']%>/>
